<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<%=render :partial => "shared/form", :locals=>{:f=>f}%>
<p align="center">
   <button class="btn btn-primary" type="submit">Sign Up</button>
</p>

<% end %>

<%= render "devise/shared/links" %>
