<h1 align="center">Registration</h1>
<%= form_for @user  do |f| %>
<%= render "shared/errorchecking" %>
<%=render :partial => "shared/form", :locals=>{:f=>f}%>
<p align="center">
   <button class="btn btn-primary" type="submit">Create User</button>
</p>
<% end %>
