<div id = "wrapper">
  <h1> Employee Data </h1>
  <br>
<%= render 'shared/details' %>
<tr>
      <td><%= link_to "Home", admin_users_path, :class => "btn btn-primary"  %>
      <td><%= link_to "Add another user", new_admin_user_path, :class => "btn btn-primary"  %> &nbsp;&nbsp;</td>
    </tr>
  </table>
</div